#body{
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: centre;
    height: 100vh ;
    background-color: hsl(0, 0%, 96%);

}
#calculator{
    background-color: hsl(0, 0%, 14%);
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500%;
    overflow: hidden;
}
#display{
    width: 100%;
    padding:20px ;
    font-size: 5rem;
    text-align: left;
    border: none;
    color: #ffffff;
    background-color: hsl(0, 0%, 30%);
}
#calc-keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding:20px ;
}
button{
    width: 100px;
    height: 100px ;
    border-radius:50px ;
    background-color: hsl(0, 0%, 30%);
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
 background-color: hsl(0, 0%, 55%);
}
.operator-btn{
    background-color:hsl(39, 100%, 50%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:active{
background-color: hsl(35, 100%, 75%);
}